body {
    background-color: #3498db;
    font-family: 'Press Start 2P';
    color: #fff; 
  }
  .styled-table {
    width: 100%;
    border-collapse: collapse; 
    border: 2px solid #ddd;
  }
  .imatge {
    width: 5%; 
    height: 5%;
}